@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
.background {
    background-image: url(images-coco/coco.jpg);
    width: 1200px;
}

.smallbox {
    position: relative;
    float: right;
    margin-right: 50px;
    margin-top: 140px;
    color: white;
    font-family: 'Abel', sans-serif;
}
.smallbox img {
    width: 350px;
    height: 150px;
    display:flex;
    margin-left: 135px;
}
button {
    background-color: orange;
    border-radius: 8px;
    width: 100px;
    height: 50px;
    font-size: x-large;
    color: white;
    outline: none;
    box-shadow: none;
}
a:link {
    text-decoration: none;
}
a:visited {
    color: white;
}
p {
    margin-bottom: 20px;
    margin-top: 10px;
}